form{ 
    color: deeppink;
}
thead{
    color: indigo;
}
tr{
    color: brown;
    font-style: italic;
}
email{
    color: mediumseagreen;
}
h2{
    color: lawngreen;
}
form{
    font-style:oblique
}